body {
    background-image: url("vintage_paper.png");
    background-size: contain;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'EB Garamond', serif;
    font-size: 1.25em;
}

p {
    line-height: 2em;
    color: #1b1b1b;
    text-indent: 2.3em;
}

p.r {
    margin-bottom: 2.5em;
}

h1 h2 h3 h4 h5 h6 {
    text-align: center;
    color: #1b1b1b;
}

h5 a {
    display: none;
}

div a {
    display: none;
}

pre {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a:link{
    background-color: #fff0;
}

blockquote {
    text-align: center;
}

img {
    border: 3px solid black;
    border-radius: 1.5%;
    text-align: center;
    max-width: 350px;
}

figcaption {
    word-wrap: break-word;
    text-align: center
}